.main-form {
  -fx-max-width: 600px;
  -fx-min-height: 500px;
  -fx-background-color: #fcfcfc;
  -fx-effect: dropshadow(three-pass-box, rgba(149, 157, 165, 0.2), 8, 0, 0, 0);
  -fx-padding: 30px;
  -fx-background-radius: 10px;
}

.label-primary {
  -fx-font-weight: 700;
  -fx-font-size: 20px;
}
