@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.text-primary {
  -fx-font-size: 20px;
  -fx-font-weight: bold;
  -fx-font-family: "Inter", sans-serif;
}

.table {
  -fx-max-width: 1000px;
}
