@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.sidebar-primary {
  -fx-padding: 20px;
  -fx-background-color: #fcfcfc;
  -fx-min-width: 250px;
  -fx-min-height: 100%;
  -fx-effect: dropshadow(three-pass-box, rgba(149, 157, 165, 0.2), 8, 0, 0, 0);
  -fx-font-family: "Inter", sans-serif;
}

.label-primary {
  -fx-font-weight: 700;
  -fx-font-size: 20px;
}

.button-primary {
  -fx-cursor: hand;
  -fx-max-width: 250px;
  -fx-focus-traversable: false;
  -fx-focus-color: transparent;
  -fx-text-fill: #000000;
  -fx-background-color: #e5e7eb;
  -fx-font-weight: 500;
  -fx-font-size: 16px;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
}

.toggle-button:selected {
  -fx-background-color: #007bff;
  -fx-text-fill: #ffffff;
}
